html,body{
	height:100%;
	display:flex;
}
body{
	width:100%;
}
main{
	width:100%;
	display:flex;
}
.leftPannel, .rightPannel{
	background-color:#F3F4FD;
	display:flex;
	flex-direction:column;
}
#contenedorTextarea{
	display:flex;
	height:80%;
}
textarea{
	margin:auto;
	width:80%;
	height:80%;
	resize:none;
	color:#0A3871;/*azul fuerte*/
	background-color:#F3F4FD;/*azul debil*/
	border:none;
	outline:none;
}
#contenedorBotones{
	display:flex;
	height:20%;
}
#leftBotones{
	flex-grow:0;
	margin:auto;
	display:flex;
	width:80%;
	justify-content:space-between;
	height:22%;
}
#leftBotones button{
	height:100%;
	width: 50%;
}
.boton{
	border-radius:2em;
	background-color:#0A3871;
	color:white;
	height:22%;
}
.boton:hover{
	background-color:#F3F4FD;
	color:#0A3871;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#rightWrap{
	background-color:white;
	display:flex;
	height:95%;
	width:95%;
	flex-direction:column;
	margin:auto;
	border-radius:1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#contenedorTextoRespuesta{
	display:flex;
	height:80%;
	justify-content:center;
	text-align:center;
}
#textoRespuesta{
	display:flex;
	margin:auto;
	width:80%;
	height:95%;
	background-color:white;
	border-radius:0.5em;
	overflow:auto;

}
#contenedorBotonCopiar{
	display:flex;
	height:20%;
}
#botonCalcular{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:23%;
}
/*div{
	border: 1px solid;
	flex-wrap: nowrap;
}*/
